# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List open-source development environments

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia
4. Java
5. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. scikit learn
4. Matplotlib
5. ggplot

|Data Science Tools|
|------------------|
|Jupyter Lab|
|RStudio|
|Appache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## *Author* 
#### OUEDRAOGO Palingwendé Dieudonné Victor